* {
  margin: 0vh;
  padding: 0vh;
}

#menu {
  z-index: 1000;
  position: absolute;
  font-size: larger;
  margin-left: 200vh;
  color: black;
  top: 40px;
  right: 1px;
  background-color: black;
  width: 25vh;
  height: 20vh;
  border-radius: 6px;
  border: solid 1px darkgray;
  padding-left: 10px;
  padding-bottom: 40px;
  animation: menu 1s ease 0s 1 normal forwards;
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

#menu-icon {
  color: white;
  position: absolute;
  right: 9vh;
  font-size: large;
}

ul {
  margin-top: 12px;
}
li {
  list-style: none;
}

nav {
  position: relative;
  display: flex;
  background-color: black;
  align-items: center;
  height: 8vh;
}

.item {
  color: white;
  margin-left: 12vh;
  cursor: pointer;
}

.item:hover a {
  color: red !important;
}

.menu {
  color: white;
  margin-left: 7vh;
  cursor: pointer;
  margin-top: 10px;
}

.menu:hover a {
  color: red !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

img {
  width: 500px;
  height: 250px;
}

.logo {
  width: 200px;
  height: 6vh;
}

#textbar {
  margin-left: 75vh;
  width: 15vh;
  display: none;
}

#search-icon {
  cursor: pointer;
  color: white;
  margin-left: 75vh;
}

#search-icon i {
  font-size: 1.5em;
}

.article-description {
  overflow: auto;
  max-height: 200px;
}

#log_out {
  font-size: large;
  margin-left: 65vh;
}

a {
  color: white;
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

article p a {
  color: black;
}

.source-link:hover {
  color: red;
}
@media screen and (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 16px;
  }

  #header {
    width: 430px;
  }

  .logo {
    width: 100px;
    height: 30px;
    margin-right: 10px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .item {
    margin: 14px;
    font-size: small;
    margin-top: 30px;
  }

  #textbar {
    display: none !important;
  }

  #menu-icon {
    display: block;
    font-size: 13px;
    left: 390px;
  }

  #menu {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .menu {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }

  #result {
    padding: 10px;
  }

  article {
    margin: 10px auto;
    padding: 10px;
    width: calc(50% - 20px);
    max-width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  article img {
    max-width: 100%;
    height: auto;
  }

  article p {
    font-size: 10px;
  }
}
