*{
    margin: 0vh;
    padding: 0vh;
}



#menu{
    position: absolute;
    font-size: larger;
    margin-left: 200vh;
    color: white;
}

header{
    position: relative;
    display: flex;
    background-color: black;
    align-items: center;
    height: 6vh;
}

.item{
    color: white;
    margin-left: 12vh;
    cursor: pointer;
}

.container{
    margin-left: 10px;
}

img{
    width: 500px;
    height: 250px;
}

.logo{
    width: 200px;
    height: 6vh;
}

#textbar{
    margin-left: 170vh;
    width: 15vh;
    position: absolute;
}

.article-description {
    overflow: auto;
    max-height: 200px;
}


#log_out{
    font-size: large;
    margin-left: 65vh;
}

a{
    color: white;
    text-decoration: none;
}

